.dataTable tbody tr td:last-child { text-align: center;}
.text-right { text-align: right; }
.tab-pane { padding: 1em; }
.profile-thumbnail { width: 80%; max-width: 200px; height: 80%; max-height: 200px; object-fit: cover; }
.thumbnails.image_picker_selector img { width: 120px; height: 120px; object-fit: cover; }
.timeline-profile-picture { width: 40px; height: 40px; object-fit: cover; border-radius: 100%; }
ul.image_picker_selector { width: 100%; height: 200px;}
.profile-thumbnail { margin-top: 1em; margin-bottom: 1em; border-radius: 50%; margin-right: auto; margin-left: auto; display: block; }
.dataTables_wrapper .dataTables_processing { border: 1px solid #ccc; background-color: #fff; width: 40%; text-align: center; padding: 1em; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; z-index: 9999; position: absolute; left: 0; right: 0; top: 50%; margin-left: auto; margin-right: auto; }
.page-thumbnail { width: 100%; }
.bootstrap-datetimepicker-widget.dropdown-menu.wider { width: 16rem; }
.dataTable thead tr th, .dataTable tbody tr td { text-align: center; }
.bg-new {
  background-color: #24da7f !important;
}
.bg-assigned {
  background-color: #5c4ac7 !important;
}
.bg-unassigned {
  background-color: #ef5350 !important;
}
.table-form { display: inline !important;}
.cm-s-paper { cursor: text; }
.is-invalid .CodeMirror { border: 1px solid red; }
.width-100 { width: 100%; }

.fc-bootstrap4 .fc-popover.card { padding: 0px; }

.fc-toolbar .btn-primary.active,
.fc-toolbar .btn-primary:not(:disabled):not(.disabled).active,
.fc-toolbar .btn-primary:not(:disabled):not(.disabled):active,
.fc-toolbar .show>.btn-primary.dropdown-toggle {
  background: #ffb22b;
  -webkit-box-shadow: 0 2px 2px 0 rgba(248, 194, 0, 0.14), 0 3px 1px -2px rgba(248, 194, 0, 0.2), 0 1px 5px 0 rgba(248, 194, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(248, 194, 0, 0.14), 0 3px 1px -2px rgba(248, 194, 0, 0.2), 0 1px 5px 0 rgba(248, 194, 0, 0.12);
  border: 1px solid #ffb22b;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #ffffff;
}

.fc-toolbar .btn-primary {
  background: #ef5350;
  border: 1px solid #ef5350;
  -webkit-box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.fc-toolbar .btn-primary:hover {
  background: #ef5350;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  border: 1px solid #ef5350;
}
.fc-toolbar .btn-primary:active {
  background: #e6294b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.fc-toolbar .btn-primary:active:focus {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.fc-toolbar .btn-primary:active:hover {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.fc-toolbar .btn-primary:focus {
  background: #e6294b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.fc-toolbar .btn-primary.disabled {
  background: #ef5350;
  border: 1px solid #ef5350;
  -webkit-box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.fc-event, .fc-event-dot {
  background-color: #1976d2;
  border: 1px solid #1976d2;
}
.event-popover-close { float: right; }

.avatar {
  font-size:3em;
}
.no-margin-top {
  margin-top: 0px !important;
}

.green { color: #24da7f !important; }
